extends layout
include includes/_paginate

block content
    .container
        .row
            .col-md-2
                block sidebar
                    include ./includes/sidenav

            .col-md-10
                block maincontent
                    include ./includes/alert
            
                    .topslide
                        #slide.carousel.slide(data-ride='carousel')
                            ol.carousel-indicators
                                li(data-target='#slide', data-slide-to='0')
                                li.active(data-target='#slide', data-slide-to='1')
                                li(data-target='#slide', data-slide-to='2')
                            .carousel-inner
                                .carousel-item.container
                                    .row
                                        .col-8
                                            a(href=`salelists/${eventMain[0].id}`)
                                                img(src=eventMain[0].img)
                                        .col-4
                                            .carousel-caption.text-left
                                                h3=eventMain[0].title
                                                p 이벤트 기간: #{eventMain[0].start} ~ #{eventMain[0].end}
                                .carousel-item.container.active
                                    .row
                                        .col-8
                                            a(href=`salelists/${eventMain[1].id}`)
                                                img(src=eventMain[1].img)
                                        .col-4
                                            .carousel-caption.text-left
                                                h3=eventMain[1].title
                                                p 이벤트 기간: #{eventMain[1].start} ~ #{eventMain[1].end}
                                
                                .carousel-item.container
                                    .row
                                        .col-8
                                            a(href=`salelists/${eventMain[2].id}`)
                                                img(src=eventMain[2].img)
                                        .col-4
                                            .carousel-caption.text-left
                                                h3=eventMain[2].title
                                                p 이벤트 기간: #{eventMain[2].start} ~ #{eventMain[2].end}
                                
                                a.carousel-control-prev(href='#slide', role='button', data-slide='prev')
                                    span.carousel-control-prev-icon(aria-hidden='true')
                                    span.sr-only Previous
                                a.carousel-control-next(href='#slide', role='button', data-slide='next')
                                    span.carousel-control-next-icon(aria-hidden='true')
                                    span.sr-only Next


                    hr
                    .container
                        ul#myTab.nav.nav-tabs(role='tablist')
                            li.nav-item
                                a#prd-tab.nav-link.active(data-toggle='tab' href='#prd' role='tab' aria-controls='prd' aria-selected='true') 진행중 세일 품목
                            li.nav-item
                                a#event-tab.nav-link(data-toggle='tab' href='#event' role='tab' aria-controls='event' aria-selected='false') 진행중 세일 이벤트
                
                        #myTabContent.tab-content
                            #prd.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='prd-tab') 
                                .ongoing_sale 
                                    if sales.total > 0
                                        .content-all-1.row
                                            .col-1
                                            .col-10.row
                                            each sale in sales.docs
                                                .col-md-3.event_sale_list
                                                    .event_sale_img
                                                        a(href=sale.link)
                                                            if(sale.img)
                                                                img(src=sale.img style='width:90%; height:90%; margin-left:0;')
                                                            else
                                                                img(src='images/default_icon.JPG' style='width:90%; height:90%; margin-left:0;')
                                                            br
                                                            span.name #{sale.name}
                                                    .event_sale_info
                                                        br
                                                        span.brand 브랜드: #{sale.shop} 
                                                        br
                                                        a(href=sale.eventLink)
                                                            span.saleTitle 이벤트명: #{sale.saleTitle}
                                                        br
                                                        span.price
                                                            del=sale.price 
                                                            p #{sale.salePrice}
                                                        span.salePer #{sale.salePer} 할인
                                                        br
                                                        span.period #{sale.start} ~ #{sale.end}
                                            .col-1
                                        hr
                                        .pagination
                                            +paginate(sales, '/salelists', query)
                                    else
                                        span 일치하는 결과가 없습니다. 


                            #event.tab-pane.fade(role='tabpanel' aria-labelledby='event-tab')
                                .ongoing_sale 
                                    if events.total > 0
                                        .content-all-1.row
                                            .col-1
                                            .col-10.row
                                            each event in events.docs
                                                .col-md-3.event_list
                                                    .event_img
                                                        a(href=event.link)
                                                            if(event.img)
                                                                img(src=event.img style='width:90%; height:90%; margin-left:0;')
                                                            else
                                                                img(src='images/default_icon.JPG' style='width:90%; height:90%; margin-left:0;')
                                                            br
                                                            span.name #{event.title}
                                                    .event_info
                                                        br
                                                        span.brand 브랜드: #{event.brand} 
                                                        br
                                                        span.period #{event.start} ~ #{event.end}
                                            .col-1
                                        hr
                                        .pagination
                                            +paginate(events, '/salelists', query)
                                    else
                                        h3 행사중인 이벤트가 없습니다 
                        
            



