extends saleLayout


block maincontent
    link(rel='stylesheet', href='/stylesheets/salelist.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')    
            
    .example.search-section-form  
        input.search-bar(type='text' placeholder='Search 0_0' name='search')
        button.search-icon-button(type='submit' onclick='location.href="/"')
            i.fa.fa-search.search-bar-search-icon
        input.form-control(type="date", name="start", placeholder="시작날짜")

    

    .ongoing_sale 진행중 세일
    
    if sales
        if sales.total > 0
            .content-all-1.row
                .col-1
                .col-10.row
                each sale in sales.docs
                    .col-md-3.event_sale_list
                        .event_sale_img
                            a(href=sale.link)
                                img(src=sale.img style='width:90%; margin-left:0;')
                        .event_sale_info
                            span.name #{sale.name}
                            br
                            span.brand 브랜드: #{sale.shop} 
                            br
                            a(href=sale.eventLink)
                                span.saleTitle 이벤트명: #{sale.saleTitle}
                            br
                            span.price
                                del=sale.price 
                                p #{sale.salePrice}
                            span.salePer #{sale.salePer} 할인
                            br
                            span.period #{sale.start} ~ #{sale.end}
                .col-1
        .pagination
            +paginate(sales, '/salelists', query)
    else
        span 일치하는 결과가 없습니다. 


