extends saleLayout

block maincontent
    .ongoing_sale 
        .content-all-1.row
            h3= event.title
            .col-1
            .col-10.row
                .event_img
                    a(href=event.link)
                        if (event.detailImg)
                            img(src=event.detailImg style='margin-left:0;')
                        else
                            img(src=event.img style='width:90%; height:90%; margin-left:0;')
                        hr
                .event_info
                    span.brand 브랜드: #{event.brand} 
                    br
                    span.period #{event.start} ~ #{event.end}
            .col-1
