extends cosLayout

block maincontent

    link(rel='stylesheet', href='/stylesheets/product_sp.css')
    #body-content.content-container.col-md-9.Aligner.row
        .product-section.error-inline-block.col-8
            .row
                
                .col-4.product-img.Aligner-item-high
                    img(src='/images/V.jpg' style='width:90%;')
            
                .col-7.product-info(style='margin-right:0;')
                    h4.mb-0=cosmetic.name
                    .product-data.row
                        .product-info-subt.col-3
                            .borde 카테고리 :
                            .borde 정가 :  
                            .borde 판매처 :  
                            .borde 세부정보 :
                            .borde 할인가 :   
                            .borde 판매처 홈페이지 :

                        .product-info-cont.col-9
                            .borde #{cosmetic.category}
                            .borde #{cosmetic.price}
                            .borde #{cosmetic.shop}
                            .borde #{cosmetic.detail_descrpt}
                            
                            .borde (할인가)
                            .borde  (판매처 홈페이지)

        .error-input-section.error-inline-block.col-4
            label.error-section-text 정보 수정 요청
            .error-submit-section
                label.error-submit-text 잘못된 정보를 수정해주세요.
            form(action='/cosmetics', method='POST')
                label(for='id' type="hidden")
                input.error-form-control.borde(type="hidden" id='id' name='id' value=cosmetic.id)
                label(for='name' type="hidden")
                input.error-form-control.borde(type="hidden" id='name' name='name' value=cosmetic.name)

                .form-group
                    label(for='nameC')  * 신고 종류
                    .btn-group(data-toggle='buttons')
                        label.btn.btn-primary.active
                            input#option1(type='radio' name='errorCate' autocomplete='off' checked='' value='화장품 정보')
                            |  화장품 정보
                        label.btn.btn-primary
                            input#option2(type='radio' name='errorCate' autocomplete='off' value='세일 정보')
                            |  세일 정보
                        label.btn.btn-primary
                            input#option3(type='radio' name='errorCate' autocomplete='off' value='기타')
                            |  기타

                .form-group
                    label(for='nameC')  * 화장품 이름
                    input.error-form-control.borde(type='text' id='nameC' name='nameC' value=cosmetic.name)
                
                .form-group
                    label(for='brand')  * 브랜드
                    input.error-form-control.borde(type='text' id='brand' name='brand' value=cosmetic.brand)
                
                .form-group
                    label(for='price')  * 가격
                    input.error-form-control.borde(type='text' id='price' name='price' value=cosmetic.price)
                
                .form-group
                    label(for='shop', style='margin-bottom:4px;')  * 판매처
                    input.error-form-control.borde(type='text' id='shop' name='shop' value=cosmetic.shop)
                
                .form-group
                    label(for='shopURL', style='margin-bottom:4px;')  * 판매처 홈페이지 링크
                    input.error-form-control.borde(type='text' id='shopURL' name='shopURL' value=cosmetic.shopURL)

                .form-group
                    label(for='detail_descrpt', style='margin-bottom:4px;')  * 세부정보
                    textarea.error-form-control.borde(rows='5' id='detail_descrpt' name='detail_descrpt' )=cosmetic.detail_descrpt

                .form-group
                    label(for='comment', style='margin-bottom:4px;')  * 그 외의 코맨트
                    textarea.error-form-control.borde(rows='5' id='comment' name='comment' )
                
            
                
                .error-submit-section
                    label.error-submit-text 요청하신 사항은 관리자들의 검토 후 수정됩니다.
                    button.btn.btn-primary(type='submit') 신고
                    button.btn.btn-primary(href='javascript:window.history.back();') 취소
