extends ./index

block maincontent
    link(rel='stylesheet', href='/stylesheets/cosmetic.css')
    #content.border.container
        .row
            .col-md-2
                img(src='images/V.jpg' style='width:135px;height:203px')
        
            .col-md-10
                h3.mb-0 화장품 이름:  #{cosmetic.name}
                ul.border.data
                    li.border 정가: #{cosmetic.price}
                    li.border 판매처: #{cosmetic.shop}
                     
                    li.border 브랜드: #{cosmetic.brand}
                    li.border 카테고리: #{cosmetic.category}
                    li.border 세부정보:  
                        span #{cosmetic.detail_descrpt}
                    li.border 할인가: ???

