extends cosLayout

block maincontent
    link(rel='stylesheet', href='/stylesheets/product_sp.css')
    link(href='https://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css')

    include ../includes/alert  

    #body-content.content-container.col-md-9.Aligner
        .product-content-row

            .error-section
                span.error-text 잘못된 정보가 있나요??
                a.error-button.d-lg-inline-block.mb-md-0.btn.error-btn-text(href=`/cosmetics/${cosmetic.id}/error`) 신고!

            .product-section.row
                .col-4.product-img.Aligner-item-high
                    img.specific-product-img.img-responsive.center-block(src=cosmetic.img style='width:50%; height:50%; margin-left:0;')
                    
                    if (currentUser)
                        if ( currentUser.productLike )
                            if ( currentUser.productLike.split(",").indexOf(cosmetic.id) >= 0 )
                                label.product-like-btn.active(data-id=cosmetic.id)
                                    .txt like!
                        else
                            label.product-like-btn(data-id=cosmetic.id)
                                .txt like!
                    else
                        label.product-like-btn(data-id=cosmetic.id)
                            .txt like!
            
                .col-7.product-info(style='margin-right:0;')
                    .mb-0
                        h4=cosmetic.name
                    .product-data.row
                        .product-info-subt.col-3
                            .borde 카테고리 :
                            .borde 정가 :  
                            .borde 판매처 :
                            .borde 제조사 :    
                            .borde 할인가 :   
                            .borde 판매처 홈페이지 :
                            .borde 세부정보 :

                        .product-info-cont.col-9
                            .borde  #{cosmetic.category}
                            .borde #{cosmetic.price}원
                            if (cosmetic.shop)
                                .borde #{cosmetic.shop}
                            else
                                .borde 판매처
                            .borde #{cosmetic.brand}
                            
                            .borde (할인가)
                            .borde  (판매처 홈페이지)
                            .borde #{cosmetic.detail_descrpt}

        .ongoing_sale 
            if sales.length>0
                .content-all-1.row
                    .col-1
                    .col-10.row
                    each sale in sales
                        .col-md-3.event_sale_list
                            .event_sale_img
                                a(href=sale.link)
                                    if(sale.img)
                                        img(src=sale.img style='width:90%; height:90%; margin-left:0;')
                                    else
                                        img(src='images/default_icon.JPG' style='width:90%; height:90%; margin-left:0;')
                                    br
                                    span.name #{sale.name}
                            .event_sale_info
                                br
                                span.brand 브랜드: #{sale.shop} 
                                br
                                a(href=sale.eventLink)
                                    span.saleTitle 이벤트명: #{sale.saleTitle}
                                br
                                span.price
                                    del=sale.price 
                                    p #{sale.salePrice}
                                span.salePer #{sale.salePer} 할인
                                br
                                span.period #{sale.start} ~ #{sale.end}
                    .col-1
                hr
                .pagination
                    +paginate(sales, '/salelists', query)
            else
                span 세일 데이터가 없습니다.
    script(src='/javascripts/cosmetic_like.js')