extends index

include ../includes/_paginate
block maincontent

    h1 신고 접수
    .container.formdiv.col-md-8
        form.form-inline
            input.form-control(type='search', name='seaerch', placeholder='신고 검색')
            button.btn.btn-primary(type='submit') 검색
        .dropdown.form-inline
            button#dropdownMenu1.btn.btn-default.dropdown-toggle.btn-primary(type='button' data-toggle='dropdown' aria-expanded='true')
                | 카테고리
                span.caret
            ul.dropdown-menu(role='menu' aria-labelledby='dropdownMenu1')
                li(role='presentation')
                a(role='menuitem' tabindex='-1' href='#') 페이지 신고
                li(role='presentation')
                a(role='menuitem' tabindex='-1' href='#') 화장품 신고
                li(role='presentation')
                a(role='menuitem' tabindex='-1' href='#') 세일 신고
                li(role='presentation')
                a(role='menuitem' tabindex='-1' href='#') 처리 유무

    hr
    if complains.total > 0
        .table-area
            table.table.table-hover.text-center
                thead
                tr.bg-secondary
                    th NO.
                    th 화장품 명
                    th 브랜드
                    th 신고자
                    th 카테고리
                    th 마지막 처리 날짜
                    th 처리
                    th 관리
                tbody
                each complain, index in complains.docs
                    tr
                        td(scope='row')
                            h6= index+1
                        td
                            a(href=`/cosmetics/${complain.cosmeticId}`)=complain.cosmeticName
                        td= complain.brand
                        td= complain.userName
                        td= complain.category
                        td #{moment(complain.latestUpdate).format('YYYY-MM-DD')} 
                        td= complain.checked
                        td
                            a.btn.btn-outline-primary.btn-sm(href=`/admin/complains/${complain._id}`)  접수
                            a.btn.btn-outline-danger.btn-sm.delete-btn(href=`/admin/complains/${complain._id}?_method=DELETE`) 삭제
    .pagination
        +paginate(complains, '/admin/complains', query)