extends index

block maincontent
  
    .container.formdiv.col-md-8
        h1 화장품 수정
    .input-box(style='width:35%; margin-left:auto; margin-right:auto;')
        include ../includes/alert
        form(action=`/admin/cosmetics/${Cosmetic._id}?_method=PUT`, method='POST')

            .form-group
                label(for='category', style='margin-bottom:4px;')  * 제품 카테고리

                include category

            .form-group
                label(for='name', style='margin-bottom:4px;')  * 화장품명
                input.form-control(type='text', id='name', name='name', value=Cosmetic.name)

            .form-group
                label(for='shop', style='margin-bottom:4px;')  * 판매처
                input.form-control(type='text', id='shop', name='shop', value=Cosmetic.shop)
            
            .form-group
                label(for='brand', style='margin-bottom:4px;')  * 브랜드
                input.form-control(type='text', id='brand', name='brand', value=Cosmetic.brand)
            
            .form-group
                label(for='price', style='margin-bottom:4px;')  * 가격
                input.form-control(type='text', id='price', name='price', value=Cosmetic.price)
            
            .form-group
                label(for='volume', style='margin-bottom:4px;')  * 용량
                input.form-control(type='text', id='volume', name='volume', value=Cosmetic.volume)
            
            .form-group
                label(for='detail_descrpt', style='margin-bottom:4px;')  * 상세내용
                textarea.form-control(id='detail_descrpt', name='detail_descrpt', rows='5')=Cosmetic.detail_descrpt

            .form-group
                label(for="img") Image
                input#file.form-control(type="file")
                input#url.form-control(type="text", readonly="readonly", name="img", value=Cosmetic.img)
                img#preview.img-fluid(src="https://dummyimage.com/200x200/ccc/fff")
            script.
                $(function() {
                    $("#preview").hide();
                    $("#file").change(function() {
                    var file = $("#file")[0].files[0];
                    if (file) {
                        var url = "/s3?filename=" + encodeURIComponent(file.name) + 
                                "&type=" + encodeURIComponent(file.type);
                        console.log(url);
                        $.getJSON(url, function(resp) {
                        console.log(resp.signedRequest);
                        $.ajax({
                            url: resp.signedRequest,
                            method: 'PUT',
                            data: file,
                            headers: {'x-amz-acl': 'public-read', 'Content-Type': file.type},
                            processData: false, 
                            contentType: file.type,
                            success: function() {
                            $("#preview").attr("src", resp.url).show();
                            $("#url").val(resp.url);
                            }
                        });
                        });
                    }
                    });
                });  
            button.btn.btn-primary(type='submit') 화장품 정보 수정
            a.btn.btn-default(href='javascript:window.history.back();') 돌아가기
    
    