extends index

include ../includes/_paginate
block maincontent

    h1 세일 관리
    .container.formdiv.col-md-8
        form.form-inline
            input.form-control(type='search', name='seaerch', placeholder='세일 검색')
            button.btn.btn-primary(type='submit') 검색
    .container.formdiv.col-md-2
        a.btn.btn-outline-primary.btn-md(href='/admin/salelists/add') 추가
        
    hr
    if saleLists.total > 0
        .table-area
            table.table.table-hover.text-center
                thead
                tr.bg-secondary
                    th N0.
                    th 제목
                    th saleCategory
                    th 화장품
                    th 행사기간
                    th 관리
                tbody       
                each sale, index in saleLists.docs
                    tr
                        td(scope='row')
                            h6= index+1
                        td
                            a(href=`/saleLists/${sale.id}`)=sale.title
                        td= sale.category
                        td= sale.cosName
                        td #{moment(sale.start).format('YYYY-MM-DD')} ~ #{moment(sale.end).format('YYYY-MM-DD')}
                        td 
                            a.btn.btn-outline-primary.btn-sm(href=`/admin/saleLists/${sale._id}/edit`)  수정
                            a.btn.btn-outline-danger.btn-sm.delete-btn(href=`/admin/saleLists/${sale._id}?_method=DELETE`) 삭제
        .pagination
            +paginate(saleLists, '/admin/saleLists', query)